.win-type-header,
.win-type-subheader,
.win-type-title,
.win-type-subtitle,
.win-type-base,
.win-type-body,
.win-type-caption,
.win-h1,
.win-h2,
.win-h3,
.win-h4,
.win-h5,
.win-h6,
.win-button,
.win-dropdown,
.win-textbox,
.win-link,
.win-textarea,
button {
    font-family: "Yu Gothic UI", "Yu Gothic", "Meiryo UI", "Segoe UI", sans-serif, "Segoe MDL2 Assets", "Symbols";
}
.navigation {
    margin-left: 10px;
    margin-top: 10px;
}
.navigation .win-navigation-backbutton, .navigation .win-h1, .navigation .win-h2 {
    display: inline;
    vertical-align: middle;
}
